# Name                    	Version                   
absl-py                   
apex                    
backcall==0.1.0          
cachetools                  
certifi      
cffi           
chardet                   
cloudpickle==1.2.2            
cycler==0.10.0                 
cython            
decorator==4.4.0             
fvcore>=0.1                     
geos              
google-auth                  
google-auth-oauthlib                 
grpcio==1.25.0                   
idna==2.8                   
imageio==2.5.0               
intel-openmp                   
ipython==7.6.1          
ipython_genutils==0.2.0                 
jedi==0.13.3                                 
kiwisolver==1.1.0             
markdown==3.1.1                
matplotlib==3.1.1                 
mkl          
mkl_fft        
mkl_random                
networkx                     
ninja           
numpy          
oauthlib                    
olefile              
opencv-python           
parso                  
pexpect==4.7.0                  
pickleshare==0.7.5                   
pillow==6.0.0          
pip==19.1.1            
portalocker==1.7.0                 
prompt_toolkit==2.0.9                    
protobuf==3.10.0                 
ptyprocess==0.6.0                  
pyasn1==0.4.8                   
pyasn1-modules==0.2.7                   
pycocotools==2.0                     
pycparser==2.19                 
pygments==2.4.2                     
pyparsing==2.4.0                                 
python-dateutil==2.8.0                  
pytorch           
pywavelets==1.0.3                  
pyyaml                  
readline                
requests                  
requests-oauthlib                   
rsa
scikit-image==0.15.0                   
scipy                  
setuptools                   
shapely==1.7.0           
six==1.12.0           
tensorboard==2.0.1                  
termcolor==1.1.0                    
tk               
torchvision                
tqdm          
traitlets==4.3.2                   
urllib3                 
wcwidth==0.1.7                    
werkzeug==0.16.0           
wheel          
yacs==0.1.6         
zstd 


# Note: we rebuild the fvcore library, and you can install it by running 'pip install fvcore-master.zip'          
